{% extends "profile/base_profile.html" %}
{% load static %}


{% block content %}
<!-- Animated -->
<div class="animated fadeIn">
      <!-- /Widgets -->
    <div class="clearfix"></div>
    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Drivers </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th class="avatar"></th>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Bus</th>
                                        <th>Quantity</th>
                                        <th>Bus Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for driver in drivers %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter0 }}.</td>
                                        <td class="avatar">
                                            <!-- <div class="round-img">
                                                <a href="#"><img class="rounded-circle" src="{% static 'images/avatar/1.jpg'%}" alt=""></a>
                                            </div> -->
                                        </td>
                                        <td> #5469 </td>
                                        <td>  <span class="name">{{driver.user.first_name}} {{driver.user.last_name}}</span> </td>
                                        <td> <span class="product">{%if driver.bus is not none %} {{driver.bus}} {% else %} N/A {% endif %}</span> </td>
                                        <td><span class="count">231</span></td>
                                        <td>
                                          {%if driver.bus.status %}
                                            <span class="badge badge-complete">Complete</span>
                                          {% else %}
                                            <span class="badge badge-complete" style="background-color:#ff2460">InComplete</span>
                                          {% endif %}
                                        </td>
                                    </tr>
                                  {% endfor %}

                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->

            <div class="col-xl-4">
                <div class="row">
                    <div class="col-lg-6 col-xl-12">
                        <div class="card br-0">
                            <div class="card-body">
                                <div class="chart-container ov-h">
                                    <div id="flotPie1" class="float-chart"></div>
                                </div>
                            </div>
                        </div><!-- /.card -->
                    </div>

                    <div class="col-lg-6 col-xl-12">
                        <div class="card bg-flat-color-3  ">
                            <div class="card-body">
                                <h4 class="card-title m-0  white-color ">August 2018</h4>
                            </div>
                             <div class="card-body">
                                 <div id="flotLine5" class="flot-line"></div>
                             </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-md-4 -->
        </div>
    </div>
    <!-- /.orders -->
<!-- /#add-category -->
</div>
<!-- .animated -->
{% endblock %}
