{% extends "profile/base_profile.html" %}
{% load static %}

{% block content %}
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{ form_title }}</strong>
                </div>
                <div class="card-body card-block">
                    <form id="del_con" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <form method="post">{% csrf_token %}
                          <p>Are you sure you want to delete "{{ object }}"?</p>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" form="del_con" value="Confirm" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Confirm
                    </button>
                    <!-- <button type="reset"form="del_con"  class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <form method="post" novalidate class="container">
      <input type="submit" class="btnSubmit" value="Login"/>
    </form> -->
</div>
{% endblock %}
