{% extends "profile/base_profile.html" %}
{% load static %}


{% block content %}
<!-- Animated -->
<div class="animated fadeIn">
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <td>{{request.user.first_name}} {{request.user.last_name}}</td>
    </tr>
    <tr>
      <th>Bus</th>
      <td>{% if driver.bus is not None %} {{driver.bus}} {% else %}  N/A {% endif %}</td>
    </tr>
    {% if driver.bus is not None %}
    <tr>
      <!-- TODO: connect the form with ajax onchange  -->
      <th>bus status</th>
      <td><form method=post>{% csrf_token %}{{form.as_p}}</form></td>
    </tr>
    {% endif %}
  </table>
</div>
<!-- .animated -->
{% endblock %}
